*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    background-color: aliceblue;
    height: 100vh;
}

.text-box{
    overflow: auto;
    height: 25%;
    border: 3px solid black;
    min-width: 500px;
    margin-bottom: 10px;
}

@media(min-width:600px){
    .text-box{
        float: left;
        min-width: 25%;
    }
    .clr{
        clear: both;
    }
}