.box {
  height: 300px;
  width: 300px;
  border: solid 3px black;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.color-box {
  height: 200px;
  width: 200px;
  background-color: yellow;
}

button {
  margin: 1rem;
}
