*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
} 
.grid{
  display: grid;
  margin: 20px;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
.item{
  padding: 3rem;
  background: red;
  border-radius: 10px;
}
.red{
  grid-column: 1 / span 2;
  background: red;

}
.blue{
  grid-column: 3 / span 2;
  background: blue;
}
.green{
  grid-column: 1 / span 1;
  background: green;

}
.purple{
  grid-column: 2 / span 3;
  background: purple;

}
.yellow{
  grid-column: 1 / span 4;
  background: yellow;
}